.body {
    height: 100%;
    width: 100%;
    background: url("../../assets/login.png") no-repeat center;
    background-size:  cover;
}
.content {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 300px;
    flex-direction: column;
}
.content > section {
    width: 400px;
    padding: 30px 20px;
    /*-webkit-box-shadow: #666666 0 0 10px;*/
    /*-moz-box-shadow: #666 0 0 10px;*/
    /*box-shadow: #666 0 0 10px;*/
}
.login_form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.login_form_button {
    width: 100%;
    background-image: linear-gradient(107deg, rgb(62, 54, 217), rgb(67, 72, 225), rgb(77, 110, 224), rgb(82, 126, 248))
}

h2 {
    font-size: 30px;
    text-align: center;
}

input {
    height: 32px;
}
