.header{
    height: 60px;
    width: 100%;
    background: #282C34;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
}
.project_title {
    width: 400px;
    font-size: 25px;
    color: hsla(0,0%,100%,.9);
    display: flex;
    align-items: center;
}
.project_title > img {
    width: 37px;
    height: 37px;
    margin: 0 0 0 15px;
}
.right{
    display:flex;
    text-align:right;
    margin-right: 10px;
    color: hsla(0,0%,100%,.9);
    align-items: center;
    cursor:pointer;
}
.content{
    margin: 0 0 0 10px;
    font-size: 14px;
}
.info{
    width: 100px;
    height: 60px;
}
.info > a {
    display:flex;
    align-items: center;
    text-align:left;
    cursor:pointer;
    margin: 8px 0;
    color: #000000D9;
}
.line {
    margin: 0;
    width: 100%;
}
